{% extends "layout.njk" %}

{% block content %}

  <h1>Confirmation</h1>

  <h2>Application complete</h2>

  <p>Your reference number is <strong>HDJ2123F</strong>.</p>

  <p>We have sent you a confirmation email</p>

  <h2>What happens next</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

{% endblock %}