{% extends "govuk_template.njk" %}

{% block stylesheet %}
  <link href="{{ asset_path }}stylesheets/application.css" media="screen" rel="stylesheet" />
{% endblock %}

{% block content %}
{% endblock %}
